.add-text-field {
  width: calc(100% - 20px);
  height: 57.409px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #000;
  background: var(--Grey, #f4f4f4);
}

.add-submit {
  border-radius: 14px;
  border: 1px solid #000;
  background: #f6c5ff;
  width: 80.195px;
  height: 57.409px;
  flex-shrink: 0;
  margin-left: -40px;
}

.add-submit-p {
  color: #000;
  font-family: Arimo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.add {
  display: flex;
  padding: 20px;
}
