.background-grey {
  border-radius: 20px;
  background: var(--light-grey, #f7f4f4);
  flex-shrink: 0;
}

.background-grey-mesverbes {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20 80 20 80;
}
