.background-grey {
  border-radius: 20px;
  background: var(--light-grey, #f7f4f4);
  width: 671px;
  height: 567px;
  flex-shrink: 0;
}

.background-grey-little {
  width: 444px;
  height: 567px;
  flex-shrink: 0;
}
