.background-grey {
  border-radius: 20px;
  background: var(--light-grey, #f7f4f4);
  flex-shrink: 0;
}

.background-grey-mesverbes {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20 20 20 20;
  justify-content: space-around;
}

.background-grey-temps-1 {
  padding: 30px;
}

.background-grey-temps-2 {
  padding: 30px;
  margin-top: 20px;
}
