.buttons-big {
  display: flex;
  width: 100%;
  height: 77px;
  margin: 10px 40px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #000;
  background: var(--pink, #f6c5ff);
  color: #000;
  font-family: Arimo;
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.buttons-big-imprimer {
  background-color: #f9ff00;
}

.buttons-big-imprimer:hover {
  background-color: #f6c5ff;
}

.buttons-big-exercices:hover {
  background-color: #f9ff00;
}
