.buttons-small {
  border-radius: 14px;
  border: 1px solid #000;
  background: var(--Yellow, #f9ff00);
  display: flex;
  width: 227.033px;
  height: 46px;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 10px;
  flex-shrink: 0;
  color: #000;

  /* grey */
  font-family: Arimo;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.buttons-small:hover {
  background-color: #f6c5ff;
}
