.buttons-small-cross {
  border-radius: 14px;
  border: 1px solid var(--Black, #000);
  background: var(--Yellow, #f9ff00);
  display: flex;
  width: 317.672px;
  height: 56px;
  padding: 0px 20px;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}
