.buttons-small-cross {
  border-radius: 14px;
  border: 1px solid var(--Black, #000);
  background: var(--Yellow, #f6c5ff);
  display: flex;
  width: 317.672px;
  height: 56px;
  padding: 20px;
  margin: 6px;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.buttons-small-cross:hover {
  background-color: #f9ff00;
}
