.card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 6px 9px 31.4px -9px rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin-bottom: 30px;
}

p {
  color: rgb(0, 0, 0);
  font-family: Arimo;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mesverbes {
  flex-shrink: 0;
}

.card-buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-buttons-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-action {
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}

.card-options {
  padding: 30px;
}

.option-top-section {
  display: flex;
  flex-direction: row;
}

.options-p {
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
}

.temps-1 {
  display: flex;
  flex-direction: column;
}

.temps-2 {
  display: flex;
  flex-direction: column;
}
