.card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 6px 9px 31.4px -9px rgba(0, 0, 0, 0.25);
  padding: 36px;
}

p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mesverbes {
  width: 788px;
  height: 379px;
  flex-shrink: 0;
}

.card-buttons {
  width: 375px;
  height: 252px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-buttons-small {
  width: 375px;
  height: 234px;
  flex-shrink: 0;
}

.card-action {
  display: flex;
  justify-content: flex-end;
}

.card-options {
  width: 785px;
  height: 577px;
  flex-shrink: 0;
}

.card-temps {
  width: 1199px;
  height: 686px;
  flex-shrink: 0;
}

.card-verbes {
  width: 788px;
  height: 379px;
  flex-shrink: 0;
}
