.custom-select {
  border-radius: 9px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.07);
  appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  position: absolute;
  left: 180px;
  bottom: 2px;
}
