.footer {
  flex-shrink: 0;
  background-color: #f9ff00;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

.footer-p {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-right: 150px;
  color: rgba(0, 0, 0, 0.6);
}
