.nav {
  color: #000;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  flex-wrap: nowrap;
}

.nav-2 {
  align-items: flex-end;
}

.nav-1 {
  justify-content: right;
}
