.nav {
  color: #000;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-content: space-between;
}

.nav-2 {
  align-items: flex-end;
}

.nav-1 {
  justify-content: right;
}

a {
  margin: 20px;
}

a:hover {
  color: #f6c5ff;
}
