.switch-wrapper {
  display: inline-block;
  width: 45px;
  height: 20px;
  padding: 2px;
  margin-right: 20px;
  border-radius: 10px;
  background: #f9ff00;
}

.switch-wrapper-options {
  margin-right: 70px;
}

.switch-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #ffffff;
  border: solid black 1px;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 25px;
}

input:checked + .switch-wrapper {
  background: #f6c5ff;
}

.switch input {
  display: none;
}

.switch {
  width: 50%;
}

.switch-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px 0px;
}

.switch-list-justify {
  gap: 10px 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
